@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-background-100: #0f172a;
  --color-background-200: #1e293b;
  --color-background-300: #0f172a;
  --color-border-100: #334155;
  --color-background-400: #334155;
  --color-border-200: #334155;
  --color-border-2000: #3b82f6;
  --color-border-200: #475569;
  --color-text-100: #f1f5f9;
  --color-text-200: #94a3b8;
  --color-text-300: #f1f5f9;

}
